body {
  background: #edeff0; }

.header {
  text-align: center;
  padding: 50px 0; }

.header__logo {
  width: 15%; }

.header__greeting {
  margin: 35px 0 0 0; }

.login {
  padding: 0 210px; }

.login__card {
  border: none;
  border-radius: 0px;
  color: #7e8792;
  text-align: center;
  padding: 105px 0 95px 0; }

.login__card:active,
.login__card:hover,
.login__card:focus {
  color: #7e8792;
  text-decoration: none; }

.login__card--blue:hover > .login__card_icon {
  color: #2ca4fa; }

.login__card--green:hover > .login__card_icon {
  color: #3ad994; }

.login__card--red:hover > .login__card_icon {
  color: #EF4836; }

.login__card_icon {
  font-size: 65px; }

.login__card_description {
  margin-top: 10px;
  font-weight: 600; }

/*  */
a:hover.login-option-img {
  -webkit-transition: heigth .35s ease-in;
  -webkit-transform: scale(1.15);
  -ms-transition: heigth .35s ease-in;
  -ms-transform: scale(1.15);
  -moz-transition: heigth .35s ease-in;
  -moz-transform: scale(1.15);
  transition: heigth .35s ease-in;
  transform: scale(1.15);
  z-index: 2; }

.modal-login {
  width: 350px;
  margin: 95px auto; }

.modal-login .modal-header {
  border-bottom: none; }

.modal-login .modal-tittle {
  color: #7e8792;
  font-size: 27px;
  margin: 35px 0 10px 0;
  text-align: center; }

.modal-login .modal-tittle > .modal-tittle-emp {
  font-weight: bold; }

.modal-login .modal-tittle-emp--blue {
  color: #2CA4FA; }

.modal-login .modal-tittle-emp--green {
  color: #3AD994; }

.modal-login .modal-tittle-emp--red {
  color: #EF4836; }

.modal-login__form {
  padding: 0 35px 45px; }

.modal-login__form label {
  font-weight: 600;
  color: #7e8792; }

.modal-login__form .login-input {
  height: 40px;
  border: 0 solid #f2f5f5;
  background: #f2f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none; }

.login-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase; }

.login-btn:hover,
.login-btn:active {
  background: #fff; }

.login-btn--blue {
  border: 1px solid #2ca4fa;
  background: #2ca4fa; }

.login-btn--green {
  border: 1px solid #3ad994;
  background: #3ad994; }

.login-btn--red {
  border: 1px solid #EF4836;
  background: #EF4836; }

.login-btn--blue:hover,
.login-btn--blue:active {
  border: 1px solid #2ca4fa;
  color: #2ca4fa; }

.login-btn--green:hover,
.login-btn--green:active {
  border: 1px solid #3ad994;
  color: #3ad994; }

.login-btn--red:hover,
.login-btn--red:active {
  border: 1px solid #EF4836;
  color: #EF4836; }

/*# sourceMappingURL=login.css.map */
