body {
  background-color: #333; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background: #fff;
  border-radius: 0;
  height: 65px; }

.navbar-default .navbar-nav > li > a {
  line-height: 33px;
  font-weight: 700; }

.navbar-brand > img {
  height: 35px; }

.jumbotron {
  height: 390px; }

.footer {
  background: #000; }

.footer > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px; }

.footer-nav {
  width: 75%; }

.footer-nav ul {
  margin-bottom: 0; }

.footer-nav li {
  color: #b3b3b3;
  font-weight: 700; }

.footer-nav li:first-child::before,
.footer-nav li:last-child::before {
  content: none;
  margin-right: 0px; }

.footer-nav li::before {
  content: " / ";
  margin-right: 8px; }

.footer-nav li a {
  color: #b3b3b3; }

.footer-nav li a:hover {
  color: #fff;
  text-decoration: none; }

.footer-social {
  font-size: 22px;
  text-align: right;
  width: 25%; }

.footer-social a {
  color: #b3b3b3;
  margin-left: 10px; }

@media (max-width: 500px) {
  .footer > .container {
    flex-direction: column-reverse; }

  .footer-nav {
    text-align: center;
    margin-top: 10px;
    width: 100%; }

  .footer-social {
    text-align: center;
    width: 100%; } }
@media (max-width: 385px) {
  .footer-nav {
    margin-top: 15px; }

  .footer > .container {
    padding: 22px; }

  .footer-nav li {
    font-size: 12px;
    font-weight: 600;
    padding-left: 2px;
    padding-right: 2px; }

  .footer-social {
    font-size: 20px; } }

/*# sourceMappingURL=wulff.css.map */
