body {
  background-color: #333;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background: #fff;
  border-radius: 0;
  height: 65px;
}
.navbar-default .navbar-nav > li > a {
  line-height: 33px;
  font-weight: 700;
}
.navbar-brand > img {
  height: 35px;
}
.jumbotron {
  height: 390px;
}